In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# Dataframe with binaries of interest
path = './1mln_Z02_com/'
df_name = 'BHBH_GW_WRBH_cyg_x-3'
path_to_df = f'{path}dataframes/progenitors/p_{df_name}.csv'
df = pd.read_csv(path_to_df)

In [3]:
# create new folder to store results
os.makedirs(path+df_name, exist_ok=True)

In [4]:
df

,Unnamed: 0,Unnamed: 0.1,ID,name,Mass_0,Z_0,spin_0,SN_0,Tstart_0,Mass_1,...,spin_1,SN_1,Tstart_1,a,e,Tend,Dtout,Seed,Period,NCE
0,240138,240138,253390,297720647469542,27.305,0.02,0.0,compact,zams,25.048,...,0.0,compact,zams,121.0,0.00528,end,all,420511959947081,0.058308,3.0
1,415908,415908,438831,917771706854678,31.116,0.02,0.0,compact,zams,27.951,...,0.0,compact,zams,68.0,0.15200,end,all,239613323968737,0.023127,2.0
2,663191,663191,699912,701043698044160,36.224,0.02,0.0,compact,zams,30.226,...,0.0,compact,zams,81.1,0.30900,end,all,127637136841738,0.028399,2.0
3,695681,695681,734234,121631311943804,29.506,0.02,0.0,compact,zams,27.405,...,0.0,compact,zams,772.0,0.02770,end,all,762250100717266,0.901257,2.0
4,739122,739122,779929,340643873868665,27.389,0.02,0.0,compact,zams,25.158,...,0.0,compact,zams,1540.0,0.07530,end,all,101052940793727,2.642578,3.0

In [5]:
# Select only columns of interest
cols = df.columns.to_list()
filtered = df[cols[4:-2]]

In [6]:
# Filter and write the listBin2.dat file with the SEN2 input syntax
path_to_listBin2 = f'{path}{df_name}/listBin2.dat'
if os.path.exists(path_to_listBin2):
        os.remove(path_to_listBin2)
filtered.to_csv(path_to_listBin2,sep='\t',index=False,header=False)

In [6]:
###### Select from evolved file a complete run ###
path_to_evolved = 'evolved_0.dat'
df = pd.read_csv(path_to_evolved, sep='\s+')
cols = df.columns.to_list()
filtered = df[cols[2:]]
filtered.to_csv('listBinSeed.dat',sep='\t',index=False,header=False)